* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #343a40;
  line-height: 1;
  display: flex;
  justify-content: center;
}

table {
  width: 800px;
  border-right-color: #ffffff;
  font-size: 18px;
  /* /* border: 1px solid #343a40; */
  border-collapse: collapse;
}

th,
td {
  /* border: 1px solid #343a40; */
  padding: 16px 24px;
  text-align: left;
}

th {
  background-color: #087f5b;
  color: #fff;
  width: 25%;
}

tbody tr:nth-child(odd) {
  background-color: #f8f9fa;
}

tbody tr:nth-child(even) {
  background-color: #e9ecef;
}

.btn {
  border: none;
  background-color: transparent;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #222;
}
.btn-danger {
  background-color: rgb(255, 77, 77);
  color: #fff;
  border-color: rgb(255, 77, 77);
}

.item span {
  background-color: yellow;
  color: #000;
}
.home {
  margin-top: 100px;
}
.home__nav {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5px;
}
.home__nav input,
select {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 5px 10px;
  border: 1px solid #eee;
}
.home__nav button {
  margin-left: 8px;
}
